.header{
    display: flex;
}

.topLogo{
    height: 20%;
    width: 19.7%;
    padding-left: 40.4%;
    padding-top: 6.6%;
}
.lvPupImage{
    width: 28%;
}

.topMenu{
    display: flex;
    width: 581px;
    justify-content: space-around;
    padding-top: 2.45%;
    margin-left:-1.38%;
}

.topHrefs{
    font: 87.6% quicksandRegular;
    color:#4B5169;
    text-decoration: none;
}

@font-face {
    font-family: 'quicksandRegular';
    color: #4B5169;
    src: url("Resources/Fonts/Quicksand/Quicksand-Regular.ttf") format("opentype");
}
@font-face {
    font-family: 'quicksandBold';
    color: #4B5169;
    src: url("Resources/Fonts/Quicksand/Quicksand-Bold.ttf") format("opentype");
}

.phone{
    display:flex;
    padding-top: 2.55%;
    padding-left:7.6%;
}


.topPhoneNum{
    height:140px;
    font: 70% quicksandRegular;
    text-decoration: none;
    color:#4B5169;
    letter-spacing: 2px;
    background-color: white;

}
.topPhoneImg{
    height: 38%;
    margin-top: -10.5%;
    padding-left: 10%;
}


.dogWalkingServices{
    padding-left: 11.3%;
    padding-top: 6.1%;
}
.dogWalkingServicesText{
    font: 256% quicksandBold;
    letter-spacing: 5px;
    color:#4B5169;
}
.dogWalkingServicesText2{
    font: 146% quicksandBold;
    letter-spacing: 2.5px;
    display: block;
    padding-top: 3.8%;
    padding-left: 0.51%;
    color:#4B5169;
}

.dogBeforeBlue{
    height:34%;
    width:34%;
    margin-top:-2.8%;
    margin-left:-1.54%;
}

.beforeBlue{
    display:flex;
}

.dogWalkingServicesButton{
    font: 86% quicksandBold;
    width:34%;
    height:12%;
    border-radius: 30px;
    color: white;
    background-color: #7BDCE0;
    margin-top:11.9%;
    margin-left:0.15%;
    outline: none;

}
.dogWalkingServicesButton:hover{
    background-color: #4AC9CE;
}
.dogWalkingServicesButton:visited{ ///doesnt_work
    background-color: #4AC9CE;
}
.blueWaveDiv{
    background-image: url("Resources/Images/blueWave.png");
    background-repeat: no-repeat;
    height:1000px;
    background-size:1795px 820px;
    margin-left: -6%;
    margin-top: 3.5%;
    display:flex;
}

.serviceGroupImage{
    width: 100%;
    height: 25.2%;
    margin-left: 150%;
    padding-top: 85%;
}

.violetTab1{
    padding-left: 20%;
    position: absolute;
    margin-top:-4.4%;
    margin-left: 10.4%;
    text-align: center;
}

.violetText1{
    position:absolute;
    padding-left: 31.5%;
    margin-top: -3%;

}













